@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-light-glass: rgba(255, 255, 255, 0.8);
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url('https://images.pexels.com/photos/1398688/pexels-photo-1398688.jpeg?cs=srgb&dl=pexels-jorge-zapata-1398688.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
                }
                @keyframes fadeInAnimation {
                  0% {
                      opacity: 0;
                  }
                  100% {
                      opacity: 1;
                  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  h1 {
    margin-top: 30px;
  }
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  position: relative;
}

.sidebar, .posts {
  background: $color-light-glass;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  color: $color-light ;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    transition: all, .5s;
   }
}
.titles {
  a {
    text-decoration: none;
    color:rgb(96, 9, 96);
    font-weight: bold;


  }
}


.list-horizontal {
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color:rgb(96, 9, 96);
    font-weight: bold;
    letter-spacing: 1px;

  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  opacity: 0;
  position: absolute;
  z-index: -1;
  display:inline-block;
  padding-right: 15px;
  transition: all .6s;
  top: 40px;
  left: 40px;
  &.active {
    opacity: 1;
    z-index: 1;
    position: static;
  }
}

.post-author {
  font-style: italic;
  a {
    text-decoration: none;
    color:rgb(96, 9, 96);
    font-weight: bold;
    letter-spacing: 1px;

  }
}
.authors {
  a {
    text-decoration: none;
    color:rgb(96, 9, 96);
    font-weight: bold;
    letter-spacing: 1px;

  }
}
.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}
.tags li{
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  .tag-size-1 {
    font-size: 20px;
    color:rgb(96, 9, 96);

  }
  .tag-size-2{
   font-size: 24px;
   color:rgb(96, 9, 96);
  }
  .tag-size-3{
    font-size: 28px;
    color:rgb(96, 9, 96);
  }
  .tag-size-4{
    font-size: 30px;
    color:rgb(96, 9, 96);

  }
  .tag-size-5{
    font-size: 36px;
    color:rgb(96, 9, 96);

  }

}

@media (max-width: 767px) {
  // .container {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items:center ;
  // }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }
  .posts {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 100vh;
  }
  .post {
    position: absolute;
  }
  // .article {
  //   position: relative;
  //   display: flex
  //   ;
  // }
}
